body
{
    background-position:center;
}

.heading
{
    font-size:25px;
    width:60%;
    margin:0px;
    box-shadow:5px 5px 5px rgb(131, 160, 255);
    font-family:'Times New Roman', Times, serif;
    font-style:oblique;
    border-width:4px;
    border-color:rgb(171, 255, 182);
    border-style:hidden;
}

.login_div
{
    float: none;
    background:white;
    padding:15px;
    border-radius: 40px;
    color:rgb(0, 0, 0);
    box-shadow:5px 5px 5px black;
}
    

